body{
    direction: rtl;
    text-align: right;
}
input{
    
    background-color: lightgray;

}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 2px ;
    box-sizing: border-box;
}
select{
    width: 100px;
}
legend{
    padding:15px;  
}